@font-face {
    font-family: 'Commodore';
    src: url('../public/fonts/commodore-64.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Commodore';
}

body,
html,
.container {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.main {
    width: 1200px;
    height: 768px;
    background-color: rgb(16, 16, 16);
}

.font-loader {
    color: #222222;
}